---
---

dl.posts {
	dt {
		margin-top:0.8em;
	}
}

h1.page-title {
	font-size:1.8em;
  margin-top:0;
}

h2 {
  font-size:1.6em;

}

h3 {
  font-size:1.2em;
}

h4 {
  font-size:1.1em;
}

.highlight {
  margin-bottom:2em;
}

footer {
	border-top:1px solid #eee;
	padding-top:1em;
}

dl.post-metadata {
  font-size:0.9em;
  color:#888;
  text-align:right;
}
span.post-tags {
  color:#aaa;
  font-size:0.9em;
}

